{% extends "demo/Navigation bar.html" %}

{% block body %}
 <!-- Main Body Start -->
    <div class="w3-main " style="margin-left: 200px; margin-right: 20px">

        <div class=" w3-padding-48 ">
            <h1 class="w3-xxxlarge w3-text-green w3-padding-left-36"><b>Messages  </b></h1>
            <hr style="width: 450px; border: 5px solid teal; margin-right: auto; " class="w3-round w3-padding-left-36">
        </div>

        <form action="/action_page.php">
            <div class="w3-padding-left-36 w3-text-teal">
                <table class ="w3-table b">
                    <tr>
                        <th>ID</th>
                        <th>Date</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Liked</th>
                        <th>Message</th>
                        <th>User ID</th>

                    </tr>
                    {% for msg  in msgs %}
                    <tr>
                        <td>{{ msg.id }}</td>
                        <td>{{ msg.Date }}</td>
                        <td>{{ msg.Name }}</td>
                        <td>{{ msg.Email }}</td>
                        <td>{{ msg.Liked }}</td>
                        <td>{{ msg.Msg_text }}</td>
                        <td>{{ msg.User_id }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>

        </form>
</div>
<!-- Main Body End -->
{% endblock %}